
.commentItem {
  display: flex;
  align-items: flex-start;
  padding: 20px;
  width: 100%;
}

.commentItem .main {
  width: 100%;
  padding: 0px 20px;
}

.commentItem .main .top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
}

.commentItem .main .top span:last-child {
  font-size: 12px;
  color: hsl(0, 0%, 55%);
}

.commentItem .main .self {
  
}

.commentItem .main .addComment {
  margin-top: 5px;
}

.commentItem img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.commentItem .main .bottom {
  justify-content: flex-start;
}

.commentItem .main .bottom img {
  height: 20px;
  width: 20px;
  margin-right: 3px;
}

.commentItem .child {
  background-color: whitesmoke;
  margin-top: 5px;
}

.commentItem .child img {
  height: 40px;
  width: 40px;
}

.commentItem .addComment {
  
}

.commentItem .addComment .c-bottom {
  padding: 5px;
  display: flex;
  justify-content: flex-end;
}