
.sideBar {
  width: 60px;
  position: fixed;
  top: 140px;
  left: 200px;
}

.sideBar img {
  height: 30px;
  width: 30px;
}

.sideBar span {
  display: inline-block;
  margin-bottom: 30px;
  padding: 15px;
  background-color: white;
  border-radius: 50%;
}
